#btn-check {
	position: fixed;
	left: 50%;
	transform: translateX(-50%);
	bottom: 10%;
	z-index: 998;
}
#space-loading {
	position: fixed;
	left: 50%;
	top: 50%;
	transform: translateY(-50%);
	transform: translateX(-50%);
}
#btn-showinfo {
	position: fixed;
	left: 50%;
	transform: translateX(-50%);
	bottom: 20%;
	z-index: 998;
}
#sliderScale {
	position: fixed;
	left: 80%;
	transform: translateX(-50%);
	z-index: 9981;
	bottom: 20%;
}
#sliderRotate {
	position: fixed;
	left: 80%;
	transform: translateX(-50%);
	z-index: 9981;
	bottom: 10%;
}
