#btn-check {
	position: fixed;
	left: 50%;
	transform: translateX(-50%);
	bottom: 10%;
	z-index: 998;
}
#space-loading {
	position: fixed;
	left: 50%;
	top: 50%;
	transform: translateY(-50%);
	transform: translateX(-50%);
}
#loading {
}
